name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      chromium:
        image: mcr.microsoft.com/playwright:focal
        options: >-
          --shm-size 2gb
          
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Build project
        run: npm run build

      - name: Start server
        run: npm start &
      
      - name: Wait for server to be up
        run: npx wait-on http://localhost:3000/api/search

      - name: Run Search API test
        run: node tests/search.test.js

      - name: Wait before next test
        run: sleep 5

      - name: Run Scraper API test
        run: node tests/scraper.test.js 



  docker-build-and-push:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-next-playwright-app:latest
